
@media (min-width: 1000px) { 
    .col-sm-5{
        margin-top: 55px;
        margin-left: 160px;
    }
}

.box{
    margin: 40px 10px auto;
    border:5px solid rgb(117, 11, 11);
    width: auto;
    padding: 0 20px;
    font-family:'Times New Roman', Times, serif;
    display: grid;
    justify-content:center;
   
}
#size{
    font-size: 30px;
}